.hide {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.3s, transform 0.3s ease;
}

.list {
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s ease;
  touch-action: none;
  cursor: default;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .list:hover {
    cursor: pointer;
    color: var(--text-color-hover);
    scale: 1.02;
  }

  .list:hover > div > div:last-child svg {
    opacity: 1;
  }

}
