.todoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--width);
  gap: 2em;
  font-size: clamp(0.75em, 0.5vw + 0.5em, 1em);
  font-weight: 700;

  header,
  main {
    width: 100%;
  }

  header,
  main ul:nth-child(1) {
    border-radius: 0.25em;
    background-color: var(--container-background-color);
  }

  header {
    display: flex;
    align-items: center;
    gap: 1em;
    height: 4em;
    padding: 0 0 0 1.5em;

    div {
      width: 1.5em;
      height: 1.5em;
      border: 1px solid var(--completed-task);
      border-radius: 50%;
    }

    input {
      width: 100%;
      height: 100%;
      border: none;
      color: var(--text-color);
      background-color: transparent;
      font-weight: 700;
      font-size: clamp(0.75em, 0.5vw + 0.5em, 1em);
      caret-color: var(--showAll-color);
      &::placeholder {
        font-weight: 400;
      }
      &:focus {
        outline: none;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;

    ul:nth-child(1) {
      display: flex;
      flex-direction: column;
      color: var(--text-color);
      overflow: hidden;
      box-shadow: 0 7em 5em 0 var(--box-shadow-color);
    }

    section {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 1em;
      color: var(--filter-font-color);

      button {
        font-size: inherit;
        cursor: pointer;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 1.5em;
        background-color: var(--container-background-color);
        border-radius: 0 0 0.25em 0.25em;
        font-weight: 400;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--container-background-color);
        position: absolute;
        top: 150%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 0);
        padding: 1em 1.5em;
        font-weight: 700;
        border-radius: 0.25em;
        li {
          cursor: pointer;
          &:first-child {
            color: var(--showAll-color) !important;
          }
        }
      }
    }
  }

  footer {
    position: relative;
    transform: translateY(100%);
    width: 100%;
    padding: 1em 1.5em;
    font-weight: 400;
    text-align: center;
    color: var(--filter-font-color);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .todoSection main section button:hover {
    color: var(--text-color-hover);
  }
  .todoSection main section li:hover {
    color: var(--text-color-hover);
  }
}

//Medium devices (tablets, 768px and up)
@media screen and (min-width: 48em) {
  .todoSection {
    main {
      display: flex;
      flex-direction: column;

      section {
        div {
          ul {
            position: static;
            transform: none;
            width: auto;
            display: flex;
            align-items: center;
            gap: 1.5em;
          }
        }
      }
    }

    footer {
      transform: translateY(0);
    }
  }
}

//Extra extra large devices (larger desktops, 1400px and up)
@media screen and (min-width: 87.5em) {
  .todoSection {
    main {
      ul:nth-child(1) {
        box-shadow: 0 8em 2em -1em var(--box-shadow-color);
      }
    }
  }
}
