.todoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--width);
  gap: 2em;
  font-size: clamp(0.75em, 0.5vw + 0.5em, 1em);
  font-weight: 700;

  header,
  main {
    width: 100%;
  }

  header,
  main ul:nth-child(1) {
    border-radius: 0.25em;
    background-color: var(--container-background-color);
  }

  header {
    display: flex;
    align-items: center;
    gap: 1em;
    height: 4em;
    padding: 0 0 0 1.5em;

    div {
      width: 1.5em;
      height: 1.5em;
      border: 1px solid var(--completed-task);
      border-radius: 50%;
    }

    input {
      width: 100%;
      height: 100%;
      border: none;
      color: var(--text-color);
      background-color: transparent;
      font-weight: 700;
      font-size: clamp(0.75em, 0.5vw + 0.5em, 1em);
      &::placeholder {
        font-weight: 400;
      }
      &:focus {
        outline: none;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;

    ul:nth-child(1) {
      display: flex;
      flex-direction: column;
      color: var(--text-color);
      box-shadow: 0 7em 5em 0 var(--box-shadow-color);

      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
        border-bottom: 1px solid var(--completed-task);
        height: 3em;
        padding: 2em 1.5em;
        transition: all 0.3s ease;
        position: relative;

        input {
          display: none;
        }

        p {
          position: relative;
          max-width: 75%;
          div {
            display: none;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%) scaleX(0);
            width: 100%;
            height: 0.1em;
            background-color: var(--completed-task);
            transform-origin: left;
            transition: all 0.3s ease;
          }
        }

        & > svg {
          cursor: pointer;
          position: absolute;
          left: 90%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        label {
          position: relative;
          cursor: pointer;
          div {
            width: 1.5em;
            height: 1.5em;
            border: 1px solid var(--completed-task);
            border-radius: 50%;
            transition: all 0.3s ease;
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background: linear-gradient(135deg, #57ddff, #c058f3);
              width: 100%;
              height: 100%;
              border-radius: 50%;
              opacity: 0;
              transition: all 0.3s ease;
            }
          }

          svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            opacity: 0;
          }
        }

        &:has(input:checked) {
          color: var(--completed-task);
          text-decoration: line-through;
          p div {
            transform: translate(0, -50%) scaleX(1);
          }
          label {
            div {
              position: relative;
              z-index: 0;
              border: transparent;
              overflow: hidden;

              &::after {
                opacity: 1;
              }
            }
            svg {
              opacity: 1;
            }
          }
        }
      }
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 1em;
      color: var(--filter-font-color);

      button {
        font-size: inherit;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 1.5em;
        background-color: var(--container-background-color);
        border-radius: 0 0 0.25em 0.25em;
        font-weight: 400;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--container-background-color);
        padding: 1em 1.5em;
        font-weight: 700;
        border-radius: 0.25em;
        li:first-child {
          color: var(--showAll-color) !important;
        }
      }
    }
  }

  footer {
    width: 100%;
    padding: 1em 1.5em;
    font-weight: 400;
    text-align: center;
    color: var(--filter-font-color);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .todoSection section ul li:hover {
    cursor: pointer;
    color: var(--text-color-hover);
  }

  .todoSection main ul li > svg {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .todoSection main ul li:hover > svg {
    opacity: 1;
  }
}

//Medium devices (tablets, 768px and up)
@media screen and (min-width: 48em) {
  .todoSection {
    main {
      display: flex;
      flex-direction: column;

      section {
        div {
          ul {
            display: flex;
            align-items: center;
            gap: 1.5em;
          }
        }
      }
    }
  }
}

//Extra extra large devices (larger desktops, 1400px and up)
@media screen and (min-width: 87.5em) {
  .todoSection {  
    main {
      ul:nth-child(1) {
        box-shadow: 0 8em 2em -1em var(--box-shadow-color);
        li {  
          p {
            div {
              display: block;
            }
          }
          &:has(input:checked) {
            text-decoration: none;
          }
        }
      }
    }
  }
  
}
