.page{
    display: grid;
    place-items: center;
    gap: 1.5em;
    color: #fff;
    min-height: 30vh;
    min-height: 30svh;
    padding: 2.5em 2em;
    --width: 100%; // This width variable will be on ToDo.tsx and Header.tsx file
}

//Small devices (landscape phones, 576px and up)
@media screen and (min-width: 36em) {
    .page{
        --width: 60%;
    }
}

//Medium devices (tablets, 768px and up)
@media screen and (min-width: 48em) {
    .page{
        --width: 55%;
    }
}

//Large devices (desktops, 992px and up)
@media screen and (min-width: 62em) {
    .page{
        --width: 45%;
    }
}

//Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 75em) {
    .page{
        --width: 40%;
    }
}

//Extra extra large devices (larger desktops, 1400px and up)
@media screen and (min-width: 87.5em) {
    .page{
        --width: 36em;
    }
}