// Colors

   // Primary

    $Bright-Blue: #3a7bfd;
    $Check-Background: linear-gradient #57ddff to #c058f3;

    //Neutral

    // Light Theme

    $Very-Light-Gray: #fafafa;
    $Very-Light-Grayish-Blue: #e4e5f1;
    $Light-Grayish-Blue: #d2d3db;
    $Dark-Grayish-Blue-Light: #9394a5;
    $Very-Dark-Grayish-Blue-Light: #484b6a;

    // Dark Theme

    $Very-Dark-Blue: #161722;
    $Very-Dark-Desaturated-Blue: #25273c;
    $Light-Grayish-Blue-Dark: #cacde8;
    $Light-Grayish-Blue-Hover: #e4e5f1;
    $Dark-Grayish-Blue-Dark: #777a92;
    $Very-Dark-Grayish-Blue-Dark-1: #4d5066;
    $Very-Dark-Grayish-Blue-Dark-2: #393a4c;